@import "tailwindcss";
/* add the code bellow */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }


}
.mainBg {
    background-color: #17CE92;
}
.mainColor{
    color: #17CE92;
}